* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* barra titolo */

header {
    height: 400px;
    background-color: red;
    position: relative;
}

.banner {
    width: 90%;
    height: 90%;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

/* centro pagina */

.container {
    margin: 10px;
}

aside {
    width: 25%;
    height: 800px;
    background-color: lightgrey;
    float: left;
}

main {
    width: 50%;
    height: 400px;
    background-color: lightgreen;
    float: left;
}

.scheda {
    height: 30%;
    background-color: grey;
    border: 1px solid black;
    margin: 10px;
}

/* terza colonna */



/* footer */

footer {
    height: 200px;
    background-color: lightblue;
    position: relative;
}

.footer-banner {
    width: 90%;
    height: 90%;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
